/*
 * Color
 */
$color-primary: #1890ff;
$color-dark: #001529;
$color-light: #ffffff;
$color-green: #67C23A;
$color-blue: #1890ff;
$color-blue-1: #1C3FAA;
$color-orange: #ed6827;
$color-yellow: #e6a23c;
$color-gray: #909399;

// white
$color-w: #ffffff;
$color-w-1: #fefefe;
$color-w-2: #f7f7f7;
$color-w-3: #efefef;
$color-w-4: #eeeeee;
$color-w-5: #dddddd;
$color-w-6: #cccccc;
$color-w-7: #bbbbbb;
$color-w-8: #aaaaaa;
// black
$color-b: #000000;
$color-b-1: #111111;
$color-b-2: #222222;
$color-b-3: #333333;
$color-b-4: #444444;
$color-b-5: #555555;
$color-b-6: #666666;
$color-b-7: #777777;
$color-b-8: #888888;
$color-b-9: #999999;
