/**
 * Reset
 */
* { margin: 0; padding: 0; box-sizing: border-box; }
ul li, li { list-style: none; }
a { text-decoration: none; }
body { line-height: 1.75; font-size: 14px; color: #2c3e50; font-family: Avenir, Helvetica, Arial, sans-serif; }

/**
 * Common
 */
.svg-icon:focus { outline: none; }
.text-center { text-align: center; }
.display-none { display: none; }

/**
 * Cursor
 */
$cursor: pointer;
@each $i in $cursor {
  .cursor-#{$i} { cursor: $i; }
}

/**
 * Flex
 */
.flex { display: flex; flex-wrap: wrap; }
.flex-center { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; }
$flex-x: "center", "space-between", "space-around", "space-evenly";
$flex-y: "center", "flex-start", "flex-end", "space-evenly", "baseline";
@each $i in $flex-x {
  .flex-x-#{$i} { display: flex; justify-content: #{$i}; flex-wrap: wrap; }
}
@each $i in $flex-y {
  .flex-y-#{$i} { display: flex; align-items: #{$i}; flex-wrap: wrap; }
}

/**
 * Color & Background
 */
 $colors: (
  "primary": #1890ff,
  "dark": #001529,
  "light": #ffffff,
  "green": #67C23A,
  "blue": #1890ff,
  "blue-1": #1C3FAA,
  "orange": #ed6827,
  "yellow": #e6a23c,
  "gray": #909399,
  // white
  "w": #ffffff,
  "w-1": #fefefe,
  "w-2": #f0f2f5,
  "w-3": #f7f7f7,
  "w-4": #efefef,
  "w-5": #eeeeee,
  "w-6": #dddddd,
  "w-7": #cccccc,
  "w-8": #bbbbbb,
  "w-9": #aaaaaa,
  // black
  "b": #000000,
  "b-1": #111111,
  "b-2": #222222,
  "b-3": #333333,
  "b-4": #444444,
  "b-5": #555555,
  "b-6": #666666,
  "b-7": #777777,
  "b-8": #888888,
  "b-9": #999999,
);
@each $colorKey, $color in $colors{
  .color-#{$colorKey}{ color: $color; }
  .bg-#{$colorKey} { background-color: $color; }
}

/**
 * Font size
 */
 $fonts: (
  10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
  22, 24, 26, 28, 30, 32, 34, 36, 38, 40
);
@each $font in $fonts{
  .font-#{$font}{ font-size: $font + px; }
}
