@import url("../variable/index.scss");
// theme-dark
.theme-dark {
  .header-menu, .aside-menu {
    background-color: $color-dark;
  }
}

// theme-light
.theme-light {
  .header-menu, .aside-menu {
    background-color: $color-light;
  }
}

// theme-blue
.theme-blue {
  .header-menu, .aside-menu {
    background-color: $color-blue;
  }
}

// theme-orange
.theme-orange {
  .header-menu, .aside-menu {
    background-color: $color-orange;
  }
}