@import url("../variable/index.scss");
// theme-dark
.theme-dark {
  .header-menu, .aside-menu {
    background-color: $color-dark;
  }
}

// theme-green
.theme-green {
  .header-menu, .aside-menu {
    background-color: $color-green;
  }
}

// theme-blue
.theme-blue {
  .header-menu, .aside-menu {
    background-color: $color-blue;
  }
}

// theme-orange
.theme-orange {
  .header-menu, .aside-menu {
    background-color: $color-orange;
  }
}

// theme-yellow
.theme-yellow {
  .header-menu, .aside-menu {
    background-color: $color-yellow;
  }
}

// theme-gray
.theme-gray {
  .header-menu, .aside-menu {
    background-color: $color-gray;
  }
}